<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>School List</title>
</head>
<body>

    <div class="container">

        <h1 class="mt-4">환영합니다.</h1>
            <h2> -학교 정보 - </h2>

            {% for school in schools %}
                <a href="{% url 'school-detail' school.id %}">{{school.name}}</a><br>
            {% endfor %}
        {% block content %}
        {% endblock %}


    </div>

</body>
</html>